.project-image {
  width: 200px;
  height: 200px;
}
.project-title {
  text-align: center;
}
.project-title p {
  margin: 0px;
  text-align: center;
}
.project-title h3 {
  font-weight: bold;
  margin-top: 20px;
}

@media (max-width: 992px) {
  .project-title h3 {
    font-size: 12px;
  }
  .project-title p {
    font-size: 12px;
  }
  .project-image {
    width: 100px;
    height: 100px;
  }
}
