span {
  text-decoration: none;
}
.header {
  font-weight: bold;
  font-size: 25px;
  font-family: var(--nav-font-family);
  letter-spacing: 2px;
  margin-left: 0px;
}
.subheader {
  font-size: 20px;
  font-family: var(--nav-font-family);
  letter-spacing: 2px;
}

.leaf {
  cursor: pointer;
}
@media (max-width: 992px) {
  .header {
    font-size: 12px;
  }
  .text-center {
    font-size: 8px;
  }
  .subheader {
    font-size: 10px;
  }
  .leaf {
    width: 30px;
  }

  .cvheader-picture {
    width: 100px;
  }
  .hint {
    margin: 0px;
    font-size: 12px;
  }
}
