h3 {
  font-family: var(--nav-font-family);
  font-style: italic;
}
span {
  text-decoration: underline;
}

.curriculum-vitae div {
  padding-top: 8px;
}
.selfintroduction-text p {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}
.profile-picture {
  margin-bottom: 60px;
}

.mentor-reference p {
  text-align: left;
  font-size: 25px;
}
.mentor-reference {
  margin-top: 250px;
  text-align: left;
  font-size: 25px;
}
