h3 {
  font-family: var(--nav-font-family);
  font-style: italic;
}
span {
  text-decoration: underline;
}

.curriculum-vitae div {
  padding-top: 8px;
}
.selfintroduction-text p {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}
.profile-picture {
  margin-bottom: 60px;
}

.mentor-reference p {
  text-align: left;
  margin-left: 20px;
  font-size: 25px;
}
.mentor-reference h3 {
  margin-left: 20px;
}
.mentor-reference {
  margin-top: 250px;
  font-size: 25px;
}
.mentor {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .selfintroduction-text p {
    font-size: 14px;
    margin: 10px;
    text-align: center;
    padding: 0px;
  }
  .cat {
    width: 100px;
  }
  .mentor-reference h3 {
    font-size: 16px;
  }
  .mentor-reference p {
    font-size: 16px;
  }
}
